$first: #1f0b2f
$second: #d61a3f
    
.lyrics
    max-width: 640px
    margin: 50px auto 50px auto
    text-align: center
    input
        padding: 10px
        font-size: 25px
    button
        font-size: 25px
        margin-top: 15px
        background-color: $first
        border-color: $first
    button:hover
        background-color: $second
        border-color: $second


