$color: #ccfcff

header
    background-color: $color
    font-size: 20px
    .container
        display: flex
        justify-content: space-between
        .title
            text-decoration: none
            color: #000000
            display: flex
            i
                padding-top: 21px
                margin-right: 5px
            p
                padding-top: 14px
        .login
            padding-top: 15px
            a
                text-decoration: none
                color: #000000
        .buttons
            padding-top: 12px
            padding-bottom: 6px
            button 
                margin-right: 15px
                border: 2px solid transparent
                border-image: linear-gradient(to right, transparent 0%, #00FFFF 100%)
                border-image-slice: 1
                text-align: center
                background-color: $color
                padding-bottom: 5px
            button:hover
                border: 2px solid #00FFFF
                transition: 3s
            .text
                position: relative
                z-index: 2
                color: #000000
                font-size: 15px

@media (max-width: 720px)
    header
        font-size: 14px
        .title
            i
                padding-top: 11px
                margin-right: 3px
                font-size: 15px
            p
                padding-top: 4px
                font-size: 15px
        .login
            padding-top: 5px
        .buttons
            padding-top: 9px
            padding-bottom: 3px
            .buttonHead
                margin-right: 3px
                border: none
                padding-bottom: 2px
                .textHead
                    font-size: 12px