$red_sol: #d61a3f
$red_transp: rgba(214, 26, 63, 0.4)
    
.recording
    text-align: center
    max-width: 640px
    margin: 50px auto

    .sound-wave
        display: block
        margin: 0 auto 10px auto
        width: 100%
        
    button 
        position: relative
        padding: 15px 30px
        margin: 0 20px
        color: white
        font-weight: 600
        background:#1f0b2f
        border-width: 0
        outline: none
        cursor: pointer

    button:before, button:after
        content: ""
        position: absolute
        height: 50%
        width: 100%
        background:#1f0b2f
        transition: .3s cubic-bezier(.75,.24,.01,.9)

    button:before
        top: 0
        right: -5px

    button:after
        bottom: 0
        left: -5px
    
    button:hover:before 
        transform: translateX(-5px)

    button:hover:after 
        transform: translateX(5px)

    #rec-stop
        background-color: $red_sol


    #rec-stop:before, #rec-stop:after
        background-color: $red_sol
        box-shadow: 0 0 0 $red_transp;
        animation: pulse 2s infinite;

    i
        font-size: 20px
        position: relative
        z-index: 2


@keyframes pulse
    0%
        box-shadow: 0 0 0 0 $red_transp
    70%
        box-shadow: 0 0 0 6px $red_transp
    100%
        box-shadow: 0 0 0 0 $red_transp
    