.player
    margin-top: 80px
    max-width: 640px
    margin: 50px auto 50px auto
    .trackData
        display: flex
        justify-content: space-between
        font-size: 24px
        margin-bottom: 15px
        img
            height: 289px
        .names
            display: flex
            flex-direction: column         
        .title
            font-weight: bold

    .youTube
        width: 100%

@media (max-width: 720px)
    .player
        margin-top: 20px
        max-width: 100%
        .traclData
            font-size: 14px
        .youTube
            width: 100%!important