$first: #1f0b2f
$second: #d61a3f
    
*
    box-sizing:border-box

.my-container
    max-width: 500px
    max-height: 500px
    margin: 0 auto
    display: block
    background: #FFF
    padding: 10px 50px
    .form
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        border: 10px solid transparent
        border-image: linear-gradient(to right, transparent 0%, #ADF2F7 100%)
        border-image-slice: 1
        padding: 60px 80px
        h1
            text-align: center
            margin-bottom: 40px
            line-height: 35px
            text-transform: uppercase
            small
                font-weight: normal
                color: #ccc
                display: block
        .group
            position: relative
            margin-bottom: 30px
            input
                font-size: 16px
                padding: 10px
                display: block
                width: 300px
                border: none
                border-bottom: 1px solid #ccc
                &:focus
                    outline: none

            label
                color: #999
                font-size: 18px
                position: absolute
                pointer-events: none
                left: 10px
                top: 15px
                transition: 0.2s ease all
                -moz-transition: 0.2s ease all
                -webkit-transition: 0.2s ease all


            input
                &:focus ~ label, &:valid ~ label
                    top: -15px
                    font-size: 14px
                    color: $first
            .bar
                position: relative
                display: block
                width: 320px
                &:before, 
                &:after
                    content: ''
                    height: 2px
                    width: 0
                    bottom: 0
                    position: absolute
                    background: $first 
                    transition: 0.2s ease all
                    -moz-transition: 0.2s ease all
                    -webkit-transition: 0.2s ease all
                &:before
                    left: 50%
                &:after
                    right: 50%

            input:focus 
                ~ .bar:before,
                ~ .bar:after
                    width: 50%
        .input-form
            text-align: center
            button
                font-size: 25px
                margin-top: 5px
                background-color: $first
                border-color: $first
            button:hover
                background-color: $second
                border-color: $second
        .reg-btn
            text-align: center
            margin-top: 20px
            a
                margin-left: 5px
                text-decoration: none

@media (max-width: 720px)
    .my-container
        .form
            h1
                margin-bottom: 20px
                font-size: 30px
            .group
                margin-bottom: 20px
                label
                    font-size: 16px
                    &:focus ~ label, &:valid ~ label
                        font-size: 12px
            .input-form
                button
                    font-size: 19px
                    paddint: 4px 10px
            .reg-btn
                margin-top: 13px
                
