.selection
    max-width: 500px
    max-height: 500px
    margin: 0 auto
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border: 10px solid transparent
    border-image: linear-gradient(to right, transparent 0%, #ADF2F7 100%)
    border-image-slice: 1
    text-align: center
    padding: 130px 50px
    .guess-title
        font-size: 25px
    .buttons
        margin-top: 20px
        button 
            position: relative
            padding: 15px 30px
            margin: 0 20px
            color: white
            font-weight: 600
            background:#ccfcff
            border-width: 0
            outline: none
            cursor: pointer
        button:before, button:after
            content: ""
            position: absolute
            height: 50%
            width: 100%
            background:#ccfcff
            transition: .3s cubic-bezier(.75,.24,.01,.9)

        button:before
            top: 0
            right: -5px

        button:after
            bottom: 0
            left: -5px
        
        button:hover:before 
            transform: translateX(-5px)

        button:hover:after 
            transform: translateX(5px)

        .text
            position: relative
            z-index: 2
            color: #000


@media (max-width: 720px)
    .selection
        border: none
        .guess-title
            font-size: 20px
        .buttons
            desplay: flex
            flex-direction: column
            justify-content: space-around
            button
                display: block
                padding: 10px 23px
                font-weight: 600
                font-size: 13px
                margin: 0 15px 5px 15px
            span
                display: block

@media (min-width: 721px) and (max-width: 1000px)
    .selection
        border: none
        .buttons
            desplay: flex
            flex-direction: column
            justify-content: space-around
            button
                display: block