{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0346054482.js" crossorigin="anonymous"></script>
    <title>Guess song</title>
  </head>
  <body>
    <div id="root"></div>
   {% render_bundle 'polyfill' %}
   {% render_bundle 'main' %}
  </body>
</html>
 
 